@import url("./reset.css");
@import url("./base.css");
@import url("./container.css");
@import url("./animations.css");

@import url("./header.css");
@import url("./hero.css");
@import url("./about-us.css");
@import url("./our-yachts.css");
@import url("./advantages.css");
@import url("./rent-yacht.css");
@import url("./reviews.css");
@import url("./footer.css");
